
<section class="bg-gray-50 dark:bg-gray-900" *ngIf="!isEmailSent; else showEmailSent">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
         Find your account
        </h1>
        <form class="space-y-4 md:space-y-6">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" name="email" id="email" [formControl]="email"
              [ngClass]="{'invalid': hasError()}"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com" required="">
            <!-- Show error message -->
          <app-error-message [control]="email!" />
          </div>

          <button type="submit" (click)="onSubmit($event)" class="w-full py-3 rounded-lg bg-sky-500 hover:bg-sky-700">
            Send</button>
        </form>

      </div>
    </div>
  </div>
</section>
<ng-template #showEmailSent>
  <div class="py-24 text-center px6">
    <p class="text-3xl font-bold text-blue-500 dark:text-blue-400">
      If you have an account you will receive an email.
    </p>
  </div>

</ng-template>
